{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/escudo.png' %}"/>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Datos Usuario</title>
    <link rel="stylesheet" href="{% static 'Libs/css/datos.css' %}">
</head>
    <body>
        <nav class="navbar">
        </nav>

        <div class="container">
            <div class="info-row">
                <h2>Nombre Usuario</h2>
                <input type="text" id="usuario-input" value="{{ user.username }}" disabled>    
            </div>
            <div class="info-row">
                <h2>Correo Electrónico</h2>
                <input type="email" id="email-input" value="{{ user.email }}" disabled>
            </div>
        </div>

        <div class="button-container">
            <button class="editar-btn btn" id="editar-btn" type="button">Editar</button>
            <button class="volver-btn btn" id="volver-btn" type="button">Volver</button>
            <button class="guardar-btn btn" id="guardar-btn" type="button" disabled>Guardar</button>
        </div>
    
    <script src="{% static 'Libs/js/botones/editar.js' %}" type="module"></script>
    <script src="{% static 'Libs/js/botones/volver.js' %}" type="module"></script>
    </body>
{% endblock %}
</html>