    {% load static %}

    {% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}" />
        <title>Formulario</title>
        <link rel="stylesheet" href="{% static 'Libs/css/form.css' %}">
    </head>
    <body>
        <h8> PROVINCIA DEL CHUBUT </h8>
        <h7> Dirección General de Catastro e Información Territorial</h7>
        <h6> CERTIFICADO DE VERIFICACIÓN DE SUBSISTENCIA DE ESTADO PARCELARIO (VeSEP) UNIDADES FUNCIONES / UNIDADES COMPLEMENTARIAS </h6>
       
            <section class="datosFisicos">
                <fieldset id="contenedorDatosFisicos">
                    <h5><u>DATOS FISICOS DEL INMUEBLE</u></h5>
                    <form class="formulario" id="formularioAnterior">
                        <legend>Nomenclatura Catastral Anterior</legend>
                    
                        <div class="fila">
                            <div class ="elemento">
                                <label for="ejido"></label>
                                <select id="ejido" name="ejido">
                            </div>

                            <div class="elemento">
                                <label for="chacra"></label>
                                <input type="number" id="chacra" min="0"placeholder="Chacra">
                            </div>

                            <div class="elemento">
                                <label for="fraccion"></label>
                                <input type="number" id="fraccion" min="0"placeholder="Fracción">
                            </div>
                        </div>

                        <div class="fila">
                            <div class="elemento">
                                <label for="quinta"></label>
                                <input type="number" id="quinta" min="0" placeholder="Quinta">
                            </div>

                            <div class="elemento">
                                <label for="lote"></label>
                                <input type="number" id="lote" min="0" placeholder="Lote">
                            </div>

                            <div class="elemento">
                                <label for="macizo"></label>
                                <input type="number" id="macizo" min="0" placeholder="Macizo">
                            </div>
                        </div>
                    
                        <div class="fila">
                            <div class="elemento">
                                <label for="manzana"></label>
                                <input type="number" id="manzana" min="0" placeholder="Manzana">
                            </div>

                            <div class="elemento">
                                <label for="lote"></label>
                                <input type="number" id="lote" min="0" placeholder="Lote">
                            </div>

                            <div class="elemento">
                                <label for="unidad funcional"></label>
                                <input type="number" id="unidadFuncional" min="0" placeholder="Unidad funcional">
                            </div>
                        </div>  
                </form>

                    <form class="formulario" id="formularioActual">
                        <legend>Nomenclatura Catastral Actual</legend>

                        <div class="fila">
                            <div class="elemento">
                                <label for="ejido"></label>
                            </div>
        
                            <div class="elemento">
                                <label for="circunscripcion"></label>
                                <input type="number" id="circunscripcion" min="0" placeholder="Circunscripción">
                            </div>
        
                            <div class="elemento">
                                <label for="sector"></label>
                                <input type="number" id="sector" min="0" placeholder="Sector">
                            </div>    
                        </div>
                        
                        
                        <div class="fila">
                            <div class="elemento">
                                <label for="chacra"></label>
                                <input type="number" id="chacraActual" min="0" placeholder="Chacra">
                            </div>
        
                            <div class="elemento">
                                <label for="fraccion"></label>
                                <input type="number" id="fraccionActual" min="0" placeholder="Fracción">
                            </div>
        
                            <div class="elemento">
                                <label for="macizo"></label>
                                <input type="number" id="macizoActual" min="0" placeholder="Macizo">
                            </div>    
                        </div>
                        
                        <div class="fila">
                            <div class="elemento">
                                <label for="manzana"></label>
                                <input type="number" id="manzanaActual" min="0" placeholder="Manzana">
                            </div>
        
                            <div class="elemento">
                                <label for="parcela"></label>
                                <input type="number" id="parcela" min="0" placeholder="Parcela">
                            </div>
        
                            <div class="elemento">
                                <label for="unidadFuncional"></label>
                                <input type="number" id="unidadFuncionalActual" min="0" placeholder="Unidad Funcional">
                            </div>
                        </div>
                    </form>    
        
                <form class="formulario" id="formularioAntecedente">
                    <legend>Antecedente Catastral</legend>

                    <div class="fila">
                        <div class="elemento">
                            <label for="expediente"></label>
                            <input type="text" id="expediente" min="0" placeholder="Expediente">
                        </div>

                        <div class="elemento">
                            <label for="plano"></label>
                            <input type="number" id="plano" min="0" placeholder="Plano">
                        </div>
                    </div>

                    <div class="fila">        
                        <div class="elemento">
                            <label for="tomo"></label>
                            <input type="number" id="tomo" min="0" placeholder="Tomo">
                        </div>

                        <div class="elemento">
                            <label for="folio"></label>
                            <input type="number" id="folio" min="0" placeholder="Folio">
                        </div>
                    </div>
                </form>
            </fieldset>    
        </section>

            <section class="datosJuridicos">
                <fieldset id="contenedorJuridicos">
                    <h5><u>DATOS JURIDICOS DEL INMUEBLE</u></h5>
            
                    <form class="formulario" id="formularioPersona">
                        <div class="fila">
                            <div class="elemento">
                                <label for="apellido"></label>
                                <input type="text" id="apellido" placeholder="Apellido y nombre o razón social">
                            </div>
                            
                            <div class="elemento">
                                <label for="calle"></label>
                                <input type="text" id="calle" placeholder="Calle">
                            </div>

                            <div class="elemento">
                                <label for="numero"></label>
                                <input type="number" id="numero" min="0" placeholder="Nº">
                            </div>
                        </div>
                    
                        <div class="elemento">
                            <label for="localidad"></label>
                            <div class="elemento fila-2">
                                <label for="localidad"></label>
                                <input type="text" id="localidad" min="0" placeholder="Localidad">
                            </div>
                        </div>

                        <div class="elemento">
                            <label for="cuit"></label>
                            <div class="elemento fila-2">
                                <label for="cuit"></label>
                                <input type="text" id="cuit" min="0" placeholder="cuit">
                            </div>
                        </div>
                    </form>
                
                    <form class="formulario" id="formularioTomo">
                        <div class="fila">
                            <div class="elemento">
                                <label for="tomo"></label>
                                <input type="number" id="tomo" min="0" placeholder="Tomo">
                            </div>

                            <div class="elemento">
                                <label for="folio"></label>
                                <input type="number" id="folio" min="0" placeholder="Folio">
                            </div>
                        </div>
                    
                        <div class="fila">
                            <div class="elemento">
                                <label for="finca"></label>
                                <input type="number" id="finca" min="0" placeholder="Finca">
                            </div>

                            <div class="elemento">
                                <label for="fecha"></label>
                                <input type="date" id="fechaJuridicos">
                            </div>
                        </div>
                    </form>

                    <form class="formulario" id="formularioMatricula">
                        <div class="fila">
                            <div class="elemento">
                                <label for="matricula"><label>
                                <input type="text" id="matricula" min="0" placeholder="Matricula">
                            </div>

                            <div class="elemento">
                                <label for="fecha"></label>
                                <input type="date" id="fechaMatricula" placeholder="fecha">
                            </div>  
                        </div>                  
                    </form>
            </fieldset>
        </section>

        <div class="botones">
            <div class="botonEnviar">
                <button class="enviar-btn btn" id="enviar-btn"type="submit">Enviar</button>
            </div>
        
            <div class="botonCancelar">
                <button class="cancelar-btn btn" id="cancelar-btn" type="button">Cancelar</button>
            </div>
        </div>

        <script src="{% static 'Libs/js/botones/borrar.js' %}" type="module"></script>
        <script src="{% static 'Libs/js/botones/label.js' %}" type="module"></script>
         <script src="{% static 'Libs/js/secciones/actual.js' %}" type="module"></script>
         <script src="{% static 'Libs/js/secciones/antecedente.js' %}" type="module"></script>
         <script src="{% static 'Libs/js/secciones/anterior.js' %}" type="module"></script>
         <script src="{% static 'Libs/js/secciones/matricula.js' %}" type="module"></script>
         <script src="{% static 'Libs/js/secciones/persona.js' %}" type="module"></script>
         <script src="{% static 'Libs/js/secciones/tomo.js' %}" type="module"></script>
    </body>
    {% endblock %}
    </html>



