{% extends "volver.html" %}
{% load static %} 

{% block content %}
<header>
  <h2>Recuperar Constraseña</h2>
  <p>Ingresa un correo electrónico válido para poder restablecer tu contraseña.</p>
</header>
  <link rel="icon" type="image/x-icon" href="{% static 'images/reset.png' %}" />
  <link rel="stylesheet" href="{% static 'Libs/css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'Libs/css/reset.css' %}">
  
  <body>
    <div class="reset-password-form">
      <form method="post">
        {% csrf_token %}
        <label for="id_email">Correo Electronico</label>
        {{ form.email }}
        <div class="botones">
          <div class="botonEnviar">
            <button class="enviar-btn btn" id="enviar-btn" type="submit">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </body>
{% endblock %}

<script src="{% static 'Libs/js/botones/volver.js' %}" type="module"></script>

<footer>
  {% include 'footer.html' %}
</footer>
