{% extends "volver.html" %}
{% load static %}

{% block content %}
<header>
    <h2>Restablecer Contraseña</h2>
    <p>Escribe la direccion de correo electronico o el nombre de usuario vinculados a tu cuenta de VeSEP y te enviaremos un mensaje.</p>
</header> 

<form method="post" class="styled-form">
    {% csrf_token %}
    {{ form.as_p }}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <button type="submit">Enviar enlace</button>
</form>
<link rel="stylesheet" href="{% static 'Libs/css/reset.css' %}">
{% endblock %}
