{% extends "base.html" %}
{% load static %}

{% block content %}
<header>
    <h2>Iniciar Sesión</h2>
    <p>Ingresa tu nombre de usuario o correo electronico y contraseña para poder acceder al sitio.</p>
</header>

{% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            {% endfor %}
        </div>    
    {% endif %}

<section class="formularioIngreso">
    <form action="{% url 'signin' %}" method="POST" id="signin-form">
        {% csrf_token %}
        <div class="mb-3">
            <img src="{% static 'images/escudo.png' %}" alt="Escudo" class="custom-img">
            <label for="id_usuario" class="form-label">Nombre de Usuario o Correo Electrónico</label>
            <input type="text" id="id_usuario" name="username" class="form-control" placeholder="usuario@ejemplo.com">
        </div>

        <div class="mb-3">
            <label for="id_contraseña" class="form-label">Contraseña</label>
            <div class="password-container position-relative">
                <input type="password" id="id_contraseña" name="password" class="form-control" placeholder="**************">
                <button type="button" class="toggle-password btn btn-link position-absolute top-50 end-0 translate-middle-y" onclick="visualizarPass()">
                    <img id="toggle-icon" src="{% static 'images/cerrarojo.png' %}" alt="Ojo" width="20">
                </button>
            </div>
        </div> 
        
        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
        <div class="text-centermt-3">
            <a href="{% url 'password_reset' %}" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
        </div>
    </form>
</section>
<script src="/static/Libs/js/botones/toogle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></sc>
{% endblock  %}
