{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/escudo.png' %}" />
    <title>Tus Trámites</title>
    <link rel="stylesheet" href="{% static 'Libs/css/tramiteUser.css' %}">
</head>
    <body>
    {% block content %}
    <nav class="navbar">
    </nav>

    <div class="container">
        <img src="{% static 'images/escudo.png' %}"
        alt="Escudo" class="custom-img">
        {% if tiene_formularios %}
        
            <h2>Listado de tramites:</h2>
            <ul>
                {% for formulario in formularios %}
                    <l1>Fecha de carga: {{ formulario.fecha_creacion|date:"d/m/Y" }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>No tienes ningún formulario cargado.</h3>
        {% endif %}
    </div>

    <div class="button-container">
        <button class="volver-btn btn" id="volver-btn" type="button">Volver</button>
    </div>

    <script src="{% static 'Libs/js/botones/volver.js' %}" type="module"></script>
    {% endblock  %}
    </body>
</html>
